<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
  <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4">
    <div>
      <img src="{{ image }}" alt="Bill Gates Portrait">
      <div class="text-xl font-medium text-black">{{ title }}</div>
      <p class="text-gray-500">{{ bio }}</p>
      <h2>Quotes:</h2>
      @for(quote of quotes; track quote)
      {
      <div  class="mt-4">
        <p>"{{ quote }}"</p>
      </div>
     }
      <div class="mt-4">
        <h2>Resources:</h2>
        <ul>
          @for (resource of resources; track $index) {
          <li>
            <a href="{{ resource.url }}" target="_blank">{{ resource.name }}</a>
          </li>
        }
        </ul>
      </div>
    </div>
  </div>
</body>
</html>